random_sub:
  limit_char: [1, 3]
  limit_sub: 700
  limit_file_line: 100


get_expired_domain:
  username: subbermanflow
  password: heri7777
  path_domain: domains/expiredcom/
  query:
  	fonlycharhost: 1


mozscape:
  access_id: mozscape-88d2a40fad
  secret_key: 7c687360f16e7e22c4f0750f12d1eb39